// Place all the styles related to the Years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.profile-card {
	float:left;
	padding: 10px;
	margin: 20px;
	border: 1px solid white;
	width: 400px;
	height: 150px;
}